

*{
	box-sizing: border-box;
}
#h{
	width: 250px;
	height: 80px;
	margin-top: 0%;
	font-size: 24px;
	color: white;
	font-weight: 900;
	display: flex;
	background:#5CDDA8;
	border-radius: 10px;
	justify-content: center;
	align-items: center;

}
#h:hover{
	animation-name: action;
	animation-duration: 3s;
}

body,html{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}



@keyframes action{
	0%{background:#5CDDA8;width: 250px;height: 80px;font-size: 24px;}
	30%{background:#C5E32E;width: 800px;height: 220px;font-size: 55px;}
	100%{background:#5CDDA8;width: 250px;height: 80px;font-size: 24px;}
}

	
body,html{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}



@keyframes action{
	0%{background:#5CDDA8;width: 250px;height: 80px;font-size: 24px;}
	30%{background:#C5E32E;width: 800px;height: 220px;font-size: 55px;}
	100%{background:#5CDDA8;width: 250px;height: 80px;font-size: 24px;}
}

	